@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background: #2f2f2f;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

